*{
    margin: 0;
    padding: 0;
}
.flex-content{
    width: 800px;
    height: 300px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

}
.flex-item{
    padding: 10px;
    background-color: green;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
}
.flex-content2{
    width: 800px;
    height: 200px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

}
.flex-item:nth-child(3) {
    order: 10;
    background-color: red;
}

.flex-container3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 214, 30);
  }
  
  .flex-container3 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }


  .flex-container4 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(136, 13, 185);
  }
  
  .flex-container4 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }


    
.flex-container5 {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(255, 30, 255);
}

.flex-container5 > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

  .flex-container6 {
    display: flex;
    justify-content: center;
    background-color: rgb(42, 128, 39);
  }
  
  .flex-container6 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }


  .flex-container7 {
    display: flex;
    height: 200px;
    align-items: center;
    background-color: DodgerBlue;
  }
  
  .flex-container7 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



  .flex-container8 {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    overflow: scroll;
    background-color: rgb(124, 126, 0);
  }
  
  .flex-container8 > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



